/*
  * Base styles
  * ===========
  * This file contains the basic styles for the website.
  * It sets the default font family, font size, and colors.
  */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-gray: #cad1d0;
  --color-aquamarine: #95f9e3;
  --color-turquoise: #69ebd0;
  --color-emerald: #49d49d;
  --color-viridian: #558564;
  --color-wenge: #564946;
  --color-blue: #0d6efd;
  --color-light-blue: #eaf7ff;
  --color-red: #d80117;
  --color-light-red: #feeded;
  --color-yellow: #ffbd07;
  --color-light-yellow: #f9f5e5;
  --color-green: #0e8b50;
  --color-light-green: #dfeddf;
  --color-star-yellow: #ffb700;
  --color-gray: #4b5156;
  --page-edge-padding: 1rem;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
  --max-width: 1920px;
  --top-offset: 4rem; /* Offset page for navbar height */
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
}

/* Adjusting for borders, padding etc. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, system-ui, sans-serif;
  font-size: 100%;
}

/* 
  Headings
  ================
*/

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3;
}

/* 
  Lists
  ================
*/

ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}

li {
  font-weight: 300;
  font-size: 1rem;
}

/* 
  Links
  ================
*/

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-viridian);
}
