/*
  Components
*/

/* 
  Navbar Toggle
  ================
*/

#nav-menu-toggle {
  display: none;
}

@media only screen and (width < 768px) {
  #nav-menu-toggle {
    display: initial;
  }

  .toggle-open-state {
    /* TODO */
  }

  .toggle-closed-state {
    /* TODO */
  }
}

/* 
  Link Logo
  ================
*/

.link-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-black);
}

.link-logo span {
  display: none;
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (width > 768px) {
  .link-logo span {
    display: block;
  }
}

/* 
  Link Nav
  ================
*/

.link-nav {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 0.25rem 0.5rem;
  transition:
    border-color 0.12s,
    color 0.12s;
}

.link-nav.active {
  color: var(--color-viridian);
}
.link-nav.active .wrapper-svg {
  background-color: var(--color-viridian);
}

.link-nav .wrapper-svg {
  width: 1.4rem;
  height: 1.4rem;
}

.link-nav:hover {
  color: var(--color-viridian);
  border-color: var(--color-viridian);
}
.link-nav:hover .wrapper-svg {
  background-color: var(--color-viridian);
}
.link-nav:focus-visible {
  border-color: var(--color-viridian);
  color: var(--color-viridian);
  outline: none;
}
.link-nav:focus-visible .wrapper-svg {
  background-color: var(--color-viridian);
}
.link-nav:focus {
  outline: none;
}

/* 
  SVGs
  ================
  To use SVGs, add the class 'wrapper-svg' to a div element and add the class of the SVG you want to use.
  For example, to use the home SVG, add the class 'svg-home' to the div element.
  This is to be able to use the same SVG multiple times with different colors,
  without having embed the svg in the HTML.
*/

.wrapper-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.svg-home {
  mask: url('../media/icons/home.svg') no-repeat center;
  -webkit-mask: url('../media/icons/home.svg') no-repeat center;
}

.svg-map-pin {
  mask: url('../media/icons/map-pin.svg') no-repeat center;
  -webkit-mask: url('../media/icons/map-pin.svg') no-repeat center;
}

.svg-message-circle-heart {
  mask: url('../media/icons/message-circle-heart.svg') no-repeat center;
  -webkit-mask: url('../media/icons/message-circle-heart.svg') no-repeat center;
}

.svg-book-marked {
  mask: url('../media/icons/book-marked.svg') no-repeat center;
  -webkit-mask: url('../media/icons/book-marked.svg') no-repeat center;
}
