/*
  Components
*/

/* 
  SVGs
  ================
  To use SVGs, add the class 'wrapper-svg' to a div element and add the class of the SVG you want to use.
  For example, to use the home SVG, add the class 'svg-home' to the div element.
  This is to be able to use the same SVG multiple times with different colors,
  without having embed the svg in the HTML.
*/

.wrapper-svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
}

.svg-home {
  mask: url('../media/icons/home.svg') no-repeat center;
}

.svg-map-pin {
  mask: url('../media/icons/map-pin.svg') no-repeat center;
}

.svg-message-circle-heart {
  mask: url('../media/icons/message-circle-heart.svg') no-repeat center;
}

.svg-book-marked {
  mask: url('../media/icons/book-marked.svg') no-repeat center;
}

.svg-chevron-right {
  mask: url('../media/icons/chevron.svg') no-repeat center;
}

/* 
  Navbar Toggle
  ================
*/

#nav-menu-toggle {
  display: none;
}

@media only screen and (width < 768px) {
  #nav-menu-toggle {
    --toggle-width: 22px;
    --toggle-height: 18px;

    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    padding: 0;
    justify-content: space-between;
    width: var(--toggle-width);
    height: var(--toggle-height);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
  }

  /* Each line of the burger menu */
  .menu-toggle-burger {
    --bar-height: 2px;

    width: 100%;
    height: var(--bar-height);
    background-color: black;
    border-radius: 5px;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    transform-origin: left center;
  }

  /* Active state animations */
  #nav-menu-toggle[aria-expanded='true'] .menu-toggle-burger:nth-child(1) {
    rotate: 45deg;
    width: calc(var(--toggle-height) * 1.4142);
    translate: 0 calc(var(--bar-height) / -2);
  }

  #nav-menu-toggle[aria-expanded='true'] .menu-toggle-burger:nth-child(2) {
    opacity: 0;
  }

  #nav-menu-toggle[aria-expanded='true'] .menu-toggle-burger:nth-child(3) {
    rotate: -45deg;
    width: calc(var(--toggle-height) * 1.4142);
    translate: 0 calc(var(--bar-height) / 2);
  }
}

/* 
  Link Logo
  ================
*/

.link-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-black);
}

.link-logo span {
  display: none;
  font-size: 1.5rem;
  font-weight: 400;
}

@media only screen and (width >= 1024px) {
  .link-logo span {
    display: block;
  }
}

/* 
  Button
  ================
*/

.button {
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background-color: var(--color-viridian);
  border: 2px solid var(--color-viridian);
  border-radius: 24px;
  outline-offset: 2px;
  transition: all 0.12s;
}

.button .wrapper-svg {
  transition: all 0.12s;
}

.button-ghost {
  background-color: var(--color-white);
  border-color: var(--color-viridian);
  color: var(--color-viridian);
}

.button-ghost:hover {
  color: var(--color-white);
  background-color: var(--color-viridian);
}

.button:hover,
.button:focus-visible {
  color: var(--color-white);
  background-color: var(--color-emerald);
  outline-color: var(--color-wenge);
}

.button:hover .wrapper-svg,
.button:focus-visible .wrapper-svg {
  translate: 0.25rem;
}

/* 
  Link Nav
  ================
*/

.link-nav {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 0.25rem 0.5rem;
  transition:
    border-color 0.12s,
    color 0.12s;
}

.link-nav.active {
  color: var(--color-viridian);
}

/* stylelint-disable-next-line no-descending-specificity */
.link-nav .wrapper-svg {
  width: 1.4rem;
  height: 1.4rem;
}

.link-nav.active .wrapper-svg {
  background-color: var(--color-viridian);
}

.link-nav:hover {
  color: var(--color-viridian);
  border-color: var(--color-viridian);
}

.link-nav:hover .wrapper-svg {
  background-color: var(--color-viridian);
}

.link-nav:focus-visible {
  border-color: var(--color-viridian);
  color: var(--color-viridian);
  outline: none;
}

.link-nav:focus-visible .wrapper-svg {
  background-color: var(--color-viridian);
}

.link-nav:focus {
  outline: none;
}

/* 
  CTA Card
  ================
*/

.cta-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-light-gray);
  border-radius: 24px;
  overflow: hidden;
}

.cta-card .card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.cta-card .card-content h2 {
  font-size: 1.5rem;
}

.cta-card .card-content a {
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
}

.cta-card .card-content a > .wrapper-svg {
  background-color: white;
  width: 1rem;
}

.cta-card > img {
  aspect-ratio: 5 / 3;
  object-fit: cover;
}
