/* 
  CTA Grid
  ================
*/

.homepage-cta-grid {
  margin: 0 var(--page-edge-padding);
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media only screen and (width > 600px) {
  .homepage-cta-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (width > 768px) {
  .homepage-cta-grid {
    padding: 0 4rem;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (width > 1024px) {
  .homepage-cta-grid {
    padding: 0 8rem;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}
