/*
  * Layout
  */

body {
	max-width: 1920px;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

footer {
	margin: auto 0 0;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
