/*
  Utility/Helper classes for applying a specific style to an element.
*/

/* 
  Screen Reader 
  =============== 
*/

/* This class was created by Github Copilot  */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*
  Mobile
  ===============
*/

.no-scroll {
  overflow: hidden;
}

/*
  Margin
  ===============
*/

.m-4 {
  margin: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

@media only screen and (width >= 768px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .md_mb-8 {
    margin-bottom: 8rem;
  }
}
